.search-container {
  display: none;
}

.auth-container {
  display: none;
}

.show {
  display: block;
}

.image {
  padding: 10px;
}

.all-pics {
  margin-top: 40px;
}

.searching {
  position: absolute;
  left: 0;
  background: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  z-index: 10;
  display: none;
}

.searching h1 {
  color: white;
  text-align: center;
  margin-top: 20%;
}

.fa-times {
  font-size: 18px;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 5px;
}

.btn-tag {
  cursor: default;
  border: none;
}